.fileTree {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.fileTree .fileTreeItemContainer {
	margin-left: 50px;
}

.fileTree .fileTreeItem {
	padding: 15px;
	border: 2px solid white;
	border-radius: 8px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	cursor: pointer;
	background-color: grey;
}

.fileTree .fileTreeItem span {
	font-size: 16px;
	color: white;
}

.fileTree .fileTreeItem.selected span {
	color: lightskyblue;
}
